<div class="px-40 pt-56 flex gap-3 ">
   <div class="w-1/4 h-40 bg-blue-600 p-3 text-white rounded-lg">
      <p> <i class="bi bi-people text-xl mx-2"></i>Foydalanuvchilar soni</p>
      <div class="flex flex-col gap-3 mx-auto items-center">
         <h1 class="text-6xl"> 1 ta</h1>
         <p> Oxirgi 24 saotda : 0 ta</p>
      </div>
   </div>
   <div class="w-1/4 h-40 bg-green-600 p-3 text-white rounded-lg">
      <p> <i class="bi bi-truck text-xl mx-2"></i>Buyurtmalar soni</p>
      <div class="flex flex-col gap-3 mx-auto items-center">
         <h1 class="text-6xl"> 0 ta</h1>
         <p> Oxirgi 24 saotda : 0 ta</p>
      </div>
   </div>
   <div class="w-1/4 h-40 bg-orange-300 p-3 text-white rounded-lg">
      <p> <i class="bi bi-bag-check  text-xl mx-2"></i>Mahsulotlar soni</p>
      <div class="flex flex-col gap-3 mx-auto items-center">
         <h1 class="text-6xl"> 50 ta</h1>
         <p> Oxirgi 24 saotda : 10 ta</p>
      </div>
   </div>
   <div class="w-1/4 h-40 bg-red-400 p-3 text-white rounded-lg">
      <p> <i class="bi bi-cash-stack text-xl mx-2"></i>Jami summa</p>
      <div class="flex flex-col gap-3 mx-auto items-center">
         <h1 class="text-6xl"> 0 <span class="text-xl">so'm</span> </h1>
         <p> Oxirgi 24 saotda : 0 som</p>
      </div>
   </div>
</div>