<div class="pt-32 mx-40">
   <table>
      <tr>
         <th>Id</th>
         <th>Foydalanuvchi nomi</th>
         <th>Number</th>
         <th>Buyurtmalar soni</th>
      </tr>
      {{#each allUser}}
      <tr>
         <td>{{id}}</td>
         <td>{{username}}</td>
         <td>{{phone}}</td>
         <td>0</td>
      </tr>
      {{/each}}
   </table>

</div>
</div>