<div class="w-full h-full pt-28">
   <div class="mx-auto">
      <img class="mx-auto rounded-xl w-3/4 cursor-pointer" src="/imgs/foto-BG.jpg" alt="salom" />
   </div>
   {{! Mahsulotlar }}
   <div class="px-40 pt-10 flex-wrap">
      <p class="text-xl font-semibold pb-5">
         Mahsulotlar
      </p>
      <div class="grid grid-cols-4 gap-4">

         <div
            class="bg-white w-72 h-auto m-2 p-5 rounded-md transition ease-in-out shadow-lg hover:scale-105 hover:shadow-xl hover:shadow-slate-300 duration-300">
            <img style="width: 280px ; height: 165px;" src="/imgs/2c814f26-9d3c-4b66-ae54-003fe4db2cb4.webp"
               alt="pizza" />
            <h2 class="font-semibold text-xl">Salsa </h2>

            <p class="text-slate-500 text-sm">Joʻja, salsa sousi, mayin motsarella
               pishlogʻi, xalapenyo, bulgʻor qalampiri va pomidorlar</p>
            <div class="flex justify-between pt-2">
               <p class="bg-gray-300 font-semibold p-1 rounded-xl px-3">35 000 so'm</p>
               <div class="flex cursor-pointer">
                  <p><i class="bi bi-cart2 text-2xl hover:text-green-500 duration-300 mx-2"></i></p>

               </div>
            </div>

         </div>
        
        
        

      </div>
   </div>
   {{! Pitsalar }}
   <div class="px-40 pt-10 flex-wrap">
      <p class="text-xl font-semibold pb-5">
         Pitsa
      </p>
      <div class="grid grid-cols-4 gap-4">

         <div
            class="bg-white w-72 h-auto m-2 p-5 rounded-md transition ease-in-out shadow-lg hover:scale-105 hover:shadow-xl hover:shadow-slate-300 duration-300">
            <img style="width: 280px ; height: 165px;" src="/imgs/2c814f26-9d3c-4b66-ae54-003fe4db2cb4.webp"
               alt="pizza" />
            <h2 class="font-semibold text-xl">Salsa </h2>

            <p class="text-slate-500 text-sm">Joʻja, salsa sousi, mayin motsarella
               pishlogʻi, xalapenyo, bulgʻor qalampiri va pomidorlar</p>
            <div class="flex justify-between pt-2">
               <p class="bg-gray-300 font-semibold p-1 rounded-xl px-3">35 000 so'm</p>
               <div class="flex cursor-pointer">
                  <p><i class="bi bi-cart2 text-2xl hover:text-green-500 duration-300 mx-2"></i></p>
               </div>
            </div>

         </div>

      </div>
   </div>
   {{! Free }}
   <div class="px-40 pt-10 flex-wrap">
      <p class="text-xl font-semibold pb-5">
         Free
      </p>
      <div class="grid grid-cols-4 gap-4">

         <div
            class="bg-white w-72 h-auto m-2 p-5 rounded-md transition ease-in-out shadow-lg hover:scale-105 hover:shadow-xl hover:shadow-slate-300 duration-300">
            <img style="width: 280px ; height: 165px;" src="/imgs/2c814f26-9d3c-4b66-ae54-003fe4db2cb4.webp"
               alt="pizza" />
            <h2 class="font-semibold text-xl">Salsa </h2>

            <p class="text-slate-500 text-sm">Joʻja, salsa sousi, mayin motsarella
               pishlogʻi, xalapenyo, bulgʻor qalampiri va pomidorlar</p>
            <div class="flex justify-between pt-2">
               <p class="bg-gray-300 font-semibold p-1 rounded-xl px-3">35 000 so'm</p>
               <div class="flex cursor-pointer">
                  <p><i class="bi bi-cart2 text-2xl hover:text-green-500 duration-300 mx-2"></i></p>
               </div>
            </div>

         </div>

      </div>
   </div>
   {{! Ichimliklar }}
   <div class="px-40 pt-10 flex-wrap">
      <p class="text-xl font-semibold pb-5">
         Ichimlik
      </p>
      <div class="grid grid-cols-4 gap-4">

         <div
            class="bg-white w-72 h-auto m-2 p-5 rounded-md transition ease-in-out shadow-lg hover:scale-105 hover:shadow-xl hover:shadow-slate-300 duration-300">
            <img style="width: 280px ; height: 165px;" src="/imgs/2c814f26-9d3c-4b66-ae54-003fe4db2cb4.webp"
               alt="pizza" />
            <h2 class="font-semibold text-xl">Salsa </h2>

            <p class="text-slate-500 text-sm">Joʻja, salsa sousi, mayin motsarella
               pishlogʻi, xalapenyo, bulgʻor qalampiri va pomidorlar</p>
            <div class="flex justify-between pt-2">
               <p class="bg-gray-300 font-semibold p-1 rounded-xl px-3">35 000 so'm</p>
               <div class="flex cursor-pointer">
                  <p><i class="bi bi-cart2 text-2xl hover:text-green-500 duration-300 mx-2"></i></p>
               </div>
            </div>

         </div>

      </div>
   </div>
   {{! Salatlar }}
   <div class="px-40 pt-10 flex-wrap">
      <p class="text-xl font-semibold pb-5">
         Salat
      </p>
      <div class="grid grid-cols-4 gap-4">

         <div
            class="bg-white w-72 h-auto m-2 p-5 rounded-md transition ease-in-out shadow-lg hover:scale-105 hover:shadow-xl hover:shadow-slate-300 duration-300">
            <img style="width: 280px ; height: 165px;" src="/imgs/2c814f26-9d3c-4b66-ae54-003fe4db2cb4.webp"
               alt="pizza" />
            <h2 class="font-semibold text-xl">Salsa </h2>

            <p class="text-slate-500 text-sm">Joʻja, salsa sousi, mayin motsarella
               pishlogʻi, xalapenyo, bulgʻor qalampiri va pomidorlar</p>
            <div class="flex justify-between pt-2">
               <p class="bg-gray-300 font-semibold p-1 rounded-xl px-3">35 000 so'm</p>
               <div class="flex cursor-pointer">
                  <p><i class="bi bi-cart2 text-2xl hover:text-green-500 duration-300 mx-2"></i></p>
               </div>
            </div>

         </div>

      </div>
   </div>
   {{! Disert }}
   <div class="px-40 pt-10 flex-wrap">
      <p class="text-xl font-semibold pb-5">
         Disert
      </p>
      <div class="grid grid-cols-4 gap-4">

         <div
            class="bg-white w-72 h-auto m-2 p-5 rounded-md transition ease-in-out shadow-lg hover:scale-105 hover:shadow-xl hover:shadow-slate-300 duration-300">
            <img style="width: 280px ; height: 165px;" src="/imgs/2c814f26-9d3c-4b66-ae54-003fe4db2cb4.webp"
               alt="pizza" />
            <h2 class="font-semibold text-xl">Salsa </h2>

            <p class="text-slate-500 text-sm">Joʻja, salsa sousi, mayin motsarella
               pishlogʻi, xalapenyo, bulgʻor qalampiri va pomidorlar</p>
            <div class="flex justify-between pt-2">
               <p class="bg-gray-300 font-semibold p-1 rounded-xl px-3">35 000 so'm</p>
               <div class="flex cursor-pointer">
                  <p><i class="bi bi-cart2 text-2xl hover:text-green-500 duration-300 mx-2"></i></p>
               </div>
            </div>

         </div>

      </div>
   </div>

   <footer class="w-full bg-gray-900 h-auto px-40 mt-10 py-6 text-gray-400">
      <div class="flex justify-between">
         <div class="mt-8 cursor-default">
            <div class="flex items-center">
               <img class="w-20 px-2 mr-2" src="/imgs/french-fries.png" alt="">
               <p class="text-6xl text-white font-semibold cursor-pointer">Fa<span class="text-red-600">st</span> food</p>
            </div>
            <p class="mx-5 my-4 cursor-default">Fast food barcha huquqlar ximoyalangan. 30.04.2023</p>
         </div>
         <div class="flex flex-col">
            <p>Bizning filyallar:</p>
            <span class="cursor-pointer hover:text-gray-300 hover:translate-x-1 duration-300"><i class="bi bi-geo-alt"></i>Urganch</span>
            <span class="cursor-pointer hover:text-gray-300 hover:translate-x-1 duration-300"><i class="bi bi-geo-alt"></i>Xiva</span>
            <span class="cursor-pointer hover:text-gray-300 hover:translate-x-1 duration-300"><i class="bi bi-geo-alt"></i>Yangiariq</span>
            <span class="cursor-pointer hover:text-gray-300 hover:translate-x-1 duration-300"><i class="bi bi-geo-alt"></i>Bog'ot</span>
            <span class="cursor-pointer hover:text-gray-300 hover:translate-x-1 duration-300"><i class="bi bi-geo-alt"></i>Shovot</span>
            <span class="cursor-pointer hover:text-gray-300 hover:translate-x-1 duration-300"><i class="bi bi-geo-alt"></i>Xonqa</span>
         </div>
         <div class="flex flex-col">
            <p>Bizning Mahsulotlar:</p>
            <span class="cursor-pointer hove r:text-gray-300 hover:translate-x-1 duration-300">Lavashlar</span>
            <span class="cursor-pointer hover:text-gray-300 hover:translate-x-1 duration-300">Oshlar</span>
            <span class="cursor-pointer hover:text-gray-300 hover:translate-x-1 duration-300">Pitsalar</span>
            <span class="cursor-pointer hover:text-gray-300 hover:translate-x-1 duration-300">Free</span>
            <span class="cursor-pointer hover:text-gray-300 hover:translate-x-1 duration-300">Ichimliklar</span>
            <span class="cursor-pointer hover:text-gray-300 hover:translate-x-1 duration-300">Disert va Salatlar</span>
         </div>
         <div class="flex flex-col">
            <p>
               Bizni ijtimoiy sahifalarimiz:
            </p>
            <span class="cursor-pointer hover:text-blue-400 hover:translate-x-1 duration-300"><i
                  class="bi bi-telegram mx-1"></i>Telegram</span>
            <span class="cursor-pointer hover:text-red-400 hover:translate-x-1 duration-300"><i
                  class="bi bi-instagram mx-1"></i>Instagram</span>
            <span class="cursor-pointer hover:text-blue-300 hover:translate-x-1 duration-300"><i
                  class="bi bi-twitter mx-1"></i>Twitter</span>
            <span class="cursor-pointer hover:text-blue-500 hover:translate-x-1 duration-300"><i
                  class="bi bi-facebook mx-1"></i>Facabook</span>
            <span class="cursor-pointer hover:text-red-500 hover:translate-x-1 duration-300"><i
                  class="bi bi-messenger mx-1"></i>Messenger</span>

         </div>
      </div>

   </footer>
</div>