<div class="px-40 pt-32 flex-wrap">

   <div class="flex justify-between">
      <p class="text-xl font-semibold pb-5 ">
         Mahsulotlar
      </p>
     <a href="/productUp"> <button
         class="bg-green-500 rounded-3xl p-1 w-24 h-10 text-white text-lg hover:shadow-md hover:shadow-green-700 duration-300">Qo'shish</button></a>
   </div>
   <hr>

   <div class="grid grid-cols-4 gap-4 ">

      <div
         class="bg-white w-72 h-auto m-2 p-5 rounded-md transition ease-in-out shadow-lg hover:scale-105 hover:shadow-xl hover:shadow-slate-300 duration-300">
         <img style="width: 280px ; height: 165px;" src="/imgs/2c814f26-9d3c-4b66-ae54-003fe4db2cb4.webp" alt="pizza">
         <h2 class="font-semibold text-xl">Salsa </h2>

         <p class="text-slate-500 text-sm">Joʻja, salsa sousi, mayin motsarella pishlogʻi, xalapenyo, bulgʻor
            qalampiri va pomidorlar</p>
         <div class="flex justify-between pt-2">
            <p class="bg-gray-300 font-semibold p-1 rounded-xl px-3">35 000 so'm</p>
            <div class="flex cursor-pointer">
               <p><i class="bi bi-gear text-2xl  hover:text-blue-500 duration-300 mx-2"></i></p>
               <p><i class="bi bi-trash3 text-2xl  hover:text-red-500 duration-300 mx-2"></i></p>
            </div>
         </div>

      </div>

   </div>
</div>
{{!-- Pitsalar --}}
<div class="px-40 pt-10 flex-wrap ">
   <div class="flex justify-between">
      <p class="text-xl font-semibold pb-5 ">
         Pista
      </p>
      <button
         class="bg-green-500 rounded-3xl p-1 w-24 h-10 text-white text-lg hover:shadow-md hover:shadow-green-700 duration-300">Qo'shish</button>
   </div>
   <hr>

   <div class="grid grid-cols-4 gap-4 ">

      <div
         class="bg-white  w-72 h-auto m-2 p-5 rounded-md transition ease-in-out shadow-lg hover:scale-105 hover:shadow-xl hover:shadow-slate-300 duration-300">
         <img style="width: 280px ; height: 165px;" src="/imgs/2c814f26-9d3c-4b66-ae54-003fe4db2cb4.webp" alt="pizza">
         <h2 class="font-semibold text-xl">Salsa </h2>

         <p class="text-slate-500 text-sm">Joʻja, salsa sousi, mayin motsarella pishlogʻi, xalapenyo, bulgʻor
            qalampiri va pomidorlar</p>
         <div class="flex justify-between pt-2">
            <p class="bg-gray-300 font-semibold p-1 rounded-xl px-3">35 000 so'm</p>
            <div class="flex cursor-pointer">
               <p><i class="bi bi-gear text-2xl  hover:text-blue-500 duration-300 mx-2"></i></p>
               <p><i class="bi bi-trash3 text-2xl  hover:text-red-500 duration-300 mx-2"></i></p>
            </div>
         </div>

      </div>

   </div>
</div>
{{!-- Free --}}
<div class="px-40 pt-10 flex-wrap">
   <div class="flex justify-between">
      <p class="text-xl font-semibold pb-5 ">
         Free
      </p>
      <button
         class="bg-green-500 rounded-3xl p-1 w-24 h-10 text-white text-lg hover:shadow-md hover:shadow-green-700 duration-300">Qo'shish</button>
   </div>
   <hr>

   <div class="grid grid-cols-4 gap-4 ">

      <div
         class="bg-white w-72 h-auto m-2 p-5 rounded-md transition ease-in-out shadow-lg hover:scale-105 hover:shadow-xl hover:shadow-slate-300 duration-300">
         <img style="width: 280px ; height: 165px;" src="/imgs/2c814f26-9d3c-4b66-ae54-003fe4db2cb4.webp" alt="pizza">
         <h2 class="font-semibold text-xl">Salsa </h2>

         <p class="text-slate-500 text-sm">Joʻja, salsa sousi, mayin motsarella pishlogʻi, xalapenyo, bulgʻor
            qalampiri va pomidorlar</p>
         <div class="flex justify-between pt-2">
            <p class="bg-gray-300 font-semibold p-1 rounded-xl px-3">35 000 so'm</p>
            <div class="flex cursor-pointer">
               <p><i class="bi bi-gear text-2xl  hover:text-blue-500 duration-300 mx-2"></i></p>
               <p><i class="bi bi-trash3 text-2xl  hover:text-red-500 duration-300 mx-2"></i></p>
            </div>
         </div>

      </div>

   </div>
</div>
{{!-- Ichimliklar --}}
<div class="px-40 pt-10 flex-wrap">
   <div class="flex justify-between">
      <p class="text-xl font-semibold pb-5 ">
         Ichimlik
      </p>
      <button
         class="bg-green-500 rounded-3xl p-1 w-24 h-10 text-white text-lg hover:shadow-md hover:shadow-green-700 duration-300">Qo'shish</button>
   </div>
   <hr>

   <div class="grid grid-cols-4 gap-4 ">

      <div
         class="bg-white w-72 h-auto m-2 p-5 rounded-md transition ease-in-out shadow-lg hover:scale-105 hover:shadow-xl hover:shadow-slate-300 duration-300">
         <img style="width: 280px ; height: 165px;" src="/imgs/2c814f26-9d3c-4b66-ae54-003fe4db2cb4.webp" alt="pizza">
         <h2 class="font-semibold text-xl">Salsa </h2>

         <p class="text-slate-500 text-sm">Joʻja, salsa sousi, mayin motsarella pishlogʻi, xalapenyo, bulgʻor
            qalampiri va pomidorlar</p>
         <div class="flex justify-between pt-2">
            <p class="bg-gray-300 font-semibold p-1 rounded-xl px-3">35 000 so'm</p>
            <div class="flex cursor-pointer">
               <p><i class="bi bi-gear text-2xl  hover:text-blue-500 duration-300 mx-2"></i></p>
               <p><i class="bi bi-trash3 text-2xl  hover:text-red-500 duration-300 mx-2"></i></p>
            </div>
         </div>

      </div>

   </div>
</div>
{{!-- Salatlar --}}
<div class="px-40 pt-10 flex-wrap">
   <div class="flex justify-between">
      <p class="text-xl font-semibold pb-5 ">
         Salatlar
      </p>
      <button
         class="bg-green-500 rounded-3xl p-1 w-24 h-10 text-white text-lg hover:shadow-md hover:shadow-green-700 duration-300">Qo'shish</button>
   </div>
   <hr>

   <div class="grid grid-cols-4 gap-4 ">

      <div
         class="bg-white w-72 h-auto m-2 p-5 rounded-md transition ease-in-out shadow-lg hover:scale-105 hover:shadow-xl hover:shadow-slate-300 duration-300">
         <img style="width: 280px ; height: 165px;" src="/imgs/2c814f26-9d3c-4b66-ae54-003fe4db2cb4.webp" alt="pizza">
         <h2 class="font-semibold text-xl">Salsa </h2>

         <p class="text-slate-500 text-sm">Joʻja, salsa sousi, mayin motsarella pishlogʻi, xalapenyo, bulgʻor
            qalampiri va pomidorlar</p>
         <div class="flex justify-between pt-2">
            <p class="bg-gray-300 font-semibold p-1 rounded-xl px-3">35 000 so'm</p>
            <div class="flex cursor-pointer">
               <p><i class="bi bi-gear text-2xl  hover:text-blue-500 duration-300 mx-2"></i></p>
               <p><i class="bi bi-trash3 text-2xl  hover:text-red-500 duration-300 mx-2"></i></p>
            </div>
         </div>

      </div>

   </div>
</div>
{{!-- Disert --}}
<div class="px-40 pt-10 flex-wrap">
   <div class="flex justify-between">
      <p class="text-xl font-semibold pb-5 ">
         Disert
      </p>
      <button
         class="bg-green-500 rounded-3xl p-1 w-24 h-10 text-white text-lg hover:shadow-md hover:shadow-green-700 duration-300">Qo'shish</button>
   </div>
   <hr>

   <div class="grid grid-cols-4 gap-4 ">

      <div
         class="bg-white w-72 h-auto m-2 p-5 rounded-md transition ease-in-out shadow-lg hover:scale-105 hover:shadow-xl hover:shadow-slate-300 duration-300">
         <img style="width: 280px ; height: 165px;" src="/imgs/2c814f26-9d3c-4b66-ae54-003fe4db2cb4.webp" alt="pizza">
         <h2 class="font-semibold text-xl">Salsa </h2>

         <p class="text-slate-500 text-sm">Joʻja, salsa sousi, mayin motsarella pishlogʻi, xalapenyo, bulgʻor
            qalampiri va pomidorlar</p>
         <div class="flex justify-between pt-2">
            <p class="bg-gray-300 font-semibold p-1 rounded-xl px-3">35 000 so'm</p>
            <div class="flex cursor-pointer">
               <p><i class="bi bi-gear text-2xl  hover:text-blue-500 duration-300 mx-2"></i></p>
               <p><i class="bi bi-trash3 text-2xl  hover:text-red-500 duration-300 mx-2"></i></p>
            </div>
         </div>

      </div>

   </div>
</div>