<div class="pt-56 px-40 bg-slate-200 h-screen">
   <form action="/productUp" method="post"  enctype="multipart/form-data" class="flex flex-col bg-slate-200 w-2/5 mx-auto p-5 gap-2 shadow-xl  shadow-slate-300 duration-300 rounded-xl  text-black">
      <h2 class="text-2xl font-semibold mx-auto pt-3 mb-2">Yangi mahsulot qo'shish</h2>
  
      <input type="text" name="title" placeholder="Mahsulon nomi" class="p-2 rounded-lg">
      <input type="text" name="description" placeholder="Tarif" class="p-2  rounded-lg">
      <input type="number" name="pirce" placeholder="Narxi" class="p-2 mb-5 rounded-lg">
      <input type="file" name="image" placeholder="Rasm " class="p-2 mb-5 rounded-lg text-center" accept="image/*">
      <button class="border-solid border-black text-black border-2 p-2 w-28 mx-auto h-10 rounded-xl hover:bg-black    hover:text-white duration-300">Qo'shish</button>
   </form>
</div>